@charset "UTF-8";

* {
    font: normal 1em Arial;
}

body {
    background-color: lightskyblue;
}

header {
    font-size: 2em;
    color: white;
    text-align: center;
}

section {
    font-size: 1.1em;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    margin: auto;
}

div > input[type="number"] {
    width: 100px;
}

input[type="button"] {
    margin: 10px 0px;
}

footer {
    font-size: 2em;
    text-align: center;
    font-style: italic;
    color: white;
}